@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron" style="height:25%; padding:7px">
    <h3>Hello!</h3>
    <p class="lead">My name is Ralph Kadje.</p>
    <p>After a Master degree in Electrical Engineering and Information Techology, I made embedded software testing and database design before landing in aplication development.</p>
    <p> Now my focus is web based applications, preferably within the .Net stack</p>
</div>

<h3> Set of skills: </h3>
<br />
<div style="color:Highlight" class="row">
    <div class="col-lg-6">
        <ul>
            <li>Programming Languages: C#, C, C++, Assembly, VHDL, MATLAB, Java, Basic</li>
            <li>Web Tools: HTML, CSS, JavaScript, XML, JSON</li>
            <li>Databases: MS SQL 2014-2016, T-SQL, MariaDB</li>
            <li>ORM: ADO.Net, LINQ, Entity Framework</li>
            <li>Modeling Languages: UML</li>
            <li>Platforms: Visual Studio .Net, .Net, Windows 10, Windows XP, Windows 8, Linux </li>
        </ul>
    </div>
    <div class="col-lg-6">
        <ul>
            <li>Project Management Methodologies: V-Model, Scrum (agile)</li>
            <li>Collaboration Tools: Team Foundation Server, SharePoint, Phabricator</li>
            <li>Design Patterns: Singleton, Observer, MVC, MVVM, WPF, WCF, MVP, Mediator, UOW</li>
            <li>Versioning: SVN, Git</li>
            <li>Certifications: Azure Developer Associate, Software Tester (ISTQB)</li>
        </ul>
    </div>
</div>